################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS392.slnx/FileContentIndex/823b1749-65c2-47ee-a0ee-0cb8705be0b8.vsidx
/.vs/CS392.slnx/v18/.wsuo
/Yummiez/.vs/Yummiez/FileContentIndex
/Yummiez/.vs/Yummiez/v18/.futdcache.v2
